<div id="order_container">
  <%= semantic_form_for @profile, :url => purchase_profiles_path, :method => :get do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :zipcode %>
    <%= f.input :country, :as => :select, :collection => [["Canada","Canada"],["USA","USA"]] %>
    <li><%= image_tag @map_url unless @map_url.nil? %></li>
    <%= hidden_field_tag :address_checked, params[:address_checked] %>
    <%= f.submit t(:continue_to_purchase), :class => :submit %>
  <% end %>
</div>
