<div id="main">
  <table>
    <tr>
      <td><%= ft(:first_name) %></td>
      <td><%= @profile.first_name %></td>
    </tr>
    <tr>
      <td><%= ft(:last_name) %></td>
      <td><%= @profile.last_name %></td>
    </tr>
    <tr>
      <td><%= ft(:email) %></td>
      <td><%= @profile.email %></td>
    </tr>
    <tr>
      <td><%= ft(:phone) %></td>
      <td><%= @profile.phone %></td>
    </tr>
    <tr>
      <td><%= ft(:address) %></td>
      <td><%= @profile.full_address %></td>
    </tr>
  </table>
</div>
