<%= content_for(:head) do %>
  <%= javascript_include_tag "info" %>
<% end %>

<div id="main">
  <div id="image">
    <%= image_tag @info_subsection.file %>
    <%= image_tag @info_subsection.file_colour %>
  </div>
  <div id="text">
    <%= @info_subsection.content %>
  </div>
</div>
<div id="footer">
  <%= link_to(image_tag('onagawa1thumb.png'), info_path) %>
  <%= link_to(image_tag('onagawa2thumb.png'), info2_path) %>
  <%= link_to(image_tag('onagawa3thumb.png'), info3_path) %>
  <%= link_to(image_tag('onagawa4thumb.png'), info4_path) %>
</div>
