<div id="order_container">
  <%= semantic_form_for @purchase, :url => orders_path do |f| %>
    <%= f.input :quantity %>
    <%= f.input :card_type, :as => :select, :collection => [["Visa","visa"],["MasterCard","master"],["Discover","discover"],["American Express","american_express"]] %>
    <%= f.input :card_number %>
    <%= f.input :card_verification %>
    <%= f.input :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => Date.today.year+10, :add_month_numbers => true %>
    <%= f.submit t(:purchase) %>
  <% end %>
</div>
