<div id="main">
  <table>
    <tr>
      <td><%= ft(:first_name) %></td>
      <td><%= @order.first_name %></td>
    </tr>
    <tr>
      <td><%= ft(:last_name) %></td>
      <td><%= @order.last_name %></td>
    </tr>
    <tr>
      <td><%= ft(:email) %></td>
      <td><%= @order.email %></td>
    </tr>
    <tr>
      <td><%= ft(:phone) %></td>
      <td><%= @order.phone %></td>
    </tr>
    <tr>
      <td><%= ft(:address) %></td>
      <td><%= @order.full_address %></td>
    </tr>
  </table>
</div>
