<%= content_for(:head) do %>
  <%= javascript_include_tag "info" %>
<% end %>

<div id="main">
  <div id="image">
    <%= image_tag 'onagawa1.png' %>
    <%= image_tag 'onagawa1colour.png' %>
  </div>
  <div id="text">
Onagawa was a bustling port city on the north coast of Miyagi prefecture known for it`s fresh seafood and friendly people.  With the town`s main industry being fishing, the city center was located just a stones throw from the waterfront.
  </div>
</div>
<div id="footer">
  <%= link_to(image_tag('onagawa1thumb.png'), info_path) %>
  <%= link_to(image_tag('onagawa2thumb.png'), info2_path) %>
  <%= link_to(image_tag('onagawa3thumb.png'), info3_path) %>
  <%= link_to(image_tag('onagawa4thumb.png'), info4_path) %>
</div>
