<%= content_for(:head) do %>
  <%= javascript_include_tag "info" %>
<% end %>

<% unless @info_subsections.empty? %>
  <%= render @info_subsection %>
<% end %>

<div id="footer">
  <% @info_subsections.each do |subsection| %>
    <%= link_to(image_tag(subsection.file_thumb), info_section_path(@info_section, :pos => subsection.pos)) %>
  <% end %>
</div>

<div id="bottom_links">
  <% if can? :edit, InfoSection %>
    <%= link_to edit(:info_section), edit_info_section_path(@info_section) %> |
  <% end %>
  <% if can? :index, InfoSubsection %>
    <%= link_to list(:subsection), info_section_info_subsections_path(@info_section) %> |
  <% end %>
  <%= link_to delete(:info_section), @info_section, :confirm => sure?, :method => :delete if can? :destroy, InfoSection %>
</div>
