<%= content_for(:head) do %>
  <%= javascript_include_tag "info" %>
<% end %>

<%= render @info_subsections.first %>

<div id="footer">
  <%= link_to(image_tag('onagawa1thumb.png'), info_path) %>
  <%= link_to(image_tag('onagawa2thumb.png'), info2_path) %>
  <%= link_to(image_tag('onagawa3thumb.png'), info3_path) %>
  <%= link_to(image_tag('onagawa4thumb.png'), info4_path) %>
</div>
