<% title "Info Section" %>

<p>
  <strong><%= t('formtastic.labels.title') %>:</strong>
  <%= @info_section.title %>
</p>
<p>
  <strong><%= t('formtastic.labels.pos') %>:</strong>
  <%= @info_section.pos %>
</p>

<div id="bottom_links">
  <% if can? :edit, @info section %>
    <%= link_to t(:edit), edit_info_section_path(@info_section) %> |
  <% end %>
  <% if can? :delete, @info section %>
    <%= link_to t(:delete), @info_section, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to view(:info section), info_sections_path if can? :index, InfoSection %>
</div>
