<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "OnagawaFISH" %></title>
    <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>
    <![endif]-->
    <%= stylesheet_link_tag "application", "formtastic" %>
    <%= javascript_include_tag "jquery", "jquery_ujs", "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <div class="clear"></div>
      <div id="header">
        <%= image_tag 'onagawa_header.gif' %>
      </div>
      <div id="contents">
        <div id="user_nav">
          <% if current_user %>
            <%= t('message.welcome',:user=>current_user.username) %>
            <%= t('message.not_you?') %>
            <%= link_to t(:log_out), logout_path %>
          <% elsif false %>
            <%= link_to t(:sign_up), signup_path %><%= t(:or) %><%= link_to t(:log_in), login_path %>
          <% end %>
        </div>
        <%= content_tag :h1, yield(:title) if show_title? %>
        <div id="main_container">
          <div id="menu">
            <ul id="menu">
              <li class="<%= info_active? ? 'active' : '' %>"><%= link_to "Info", @default_info_section %></li>
              <li class="<%= contact_active? ? 'active' : '' %>"><%= link_to "Contact", new_message_path %></li>
              <li><%= link_to "Order", new_order_path %></li>
            </ul>
          </div>
          <div class="clear"></div>
          <div id="submenu">
            <ul id="submenu">
              <% unless @info_sections.nil? %>
                <% @info_sections.each do |info_section| %>
                  <li class="<%= @info_section==info_section ? 'active' : '' %> submenu"><%= link_to info_section.title, info_section %></li>
                <% end %>
              <% end %>
              <% if can?(:new, InfoSection) && info_active? && request.path != new_info_section_path %>
                <li><%= link_to new(:info_section), new_info_section_path %></li>
              <% end %>
              <div class="clear"></div>
            </ul>
          </div>
          <%= yield %>
        </div>
        <div id="image_container"></div>
        <div id="form_container">
          <%= semantic_form_for @order do |f| %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :card_type, :as => :select, :collection => [["Visa","visa"],["MasterCard","master"],["Discover","discover"],["American Express","american_express"]] %>
            <%= f.input :card_number %>
            <%= f.input :card_verification %>
            <%= f.input :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => Date.today.year+10, :add_month_numbers => true %>
            <%= f.input :quantity %>
            <%= f.submit "Purchase", :class => :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
